html, body{
    height: 100%;
}

#sidebar{
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}

#card{
    max-height: 250px;
    min-height: 250px;
}

.card{
    margin: 5px;
    border: 0px;
}

.card:hover{
   
    -webkit-transition: background-color 1s 
}